

header{
	flex: 1 1 100%;
	background-color: pink;
}

nav{
	
    background-color: lightblue;
	flex: 1 1 10%;
	padding-bottom: 600px;

	
}

#remplir{
	    background-color: gray;
		flex: 1 1 90%;
}

#Connection{
	    background-color: lightgray;
		margin-top: 15%;
		margin-right: 25%;
		margin-left: 25%;
		margin-bottom: 15%;
		padding:10px;
		padding-right:3px;
		padding-left:3px;		
}

table

{

    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */

}

td

{

    border: 1px solid black;

}
